/* Reset some default styling */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
/* App.css */
.table-container {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.table-container th, .table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 650px;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: content-box;
}

form label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Radio button styling */
.gender-options {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* Checkbox styling */
form label.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Submit button styling */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
